{% extends 'authentication/base.html' %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
        {% for category, message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
{% endif %}
{% endwith %}
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
        <div class="mb-3 col-4">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" name="username" required>
        </div>
        <div class="mb-3 col-4">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <div class="mb-3 col-4">
            <label for="username" class="form-label">Email:</label>
            <input type="text" class="form-control" name="email" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="is_admin" id="is_admin">
            <label class="form-check-label" for="is_admin">Is Admin</label>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <p class="mt-3">Already have an account? <a href="/signin">Sign In</a></p>
{% endblock %}
