{% extends 'authentication/base.html' %}
{% block links %}
    {% if isAdmin %}
    {% include 'admin/navLinks.html' %}
    {% else %}
    {% include 'user/navLinks.html' %}
    {% endif %}        
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
        {% for category, message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
{% endif %}
{% endwith %}
<form method="post" class="mb-3">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <label for="departure" class="form-label">Departure:</label>
            <select id="cars" name="departure" class="form-control" required>
                {% for departure in departures %}
                {% if flights and flights[0].departure == departure[0] %}
                <option value="{{departure[0]}}" selected>{{departure[0]}}</option>
                {% else %}
                <option value="{{departure[0]}}">{{departure[0]}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <label for="destination" class="form-label">Destination:</label>
            <select id="cars" name="destination" class="form-control" required>
                {% for destination in destinations %}
                {% if flights and flights[0].destination == destination[0] %}
                <option value="{{destination[0]}}" selected>{{destination[0]}}</option>
                {% else %}
                <option value="{{destination[0]}}">{{destination[0]}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4">
            <label for="departure_date" class="form-label">Departure Date:</label>
            <input type="date" id="departure_date" name="departure_date" class="form-control" required>
        </div>
        <div class="col-md-4">
            <label for="departure_date" class="form-label">Departure Time:</label>
            <input type="time" id="departure_date" name="departure_time" class="form-control" required>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4 me-auto offset-2">
            <button type="submit"  class="btn btn-primary mt-4">Search Flights</button>
        </div>
    </div>
</form>
{% if flights %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Flight Number</th>
            <th>Departure</th>
            <th>Destination</th>
            <th>Departure Date</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Price</th>
            <th>Book</th>
        </tr>
    </thead>
    <tbody>
        {% for flight in flights%}
            <tr>
                <td>{{flight.flight_number}}</td>
                <td>{{flight.departure}}</td>
                <td>{{flight.destination}}</td>
                <td>{{flight.departure_date}}</td>
                <td>{{flight.departure_time}}</td>
                <td>{{flight.arrival_time}}</td>
                <td>{{flight.price}}</td>
                <td><a href="{{url_for('bookFlight',flight_id=flight.id)}}" class="btn btn-success">Book</a></td>
            </tr>
        {% endfor %}  
    </tbody>
</table>
{% else %}
<h3>No Resutls Found</h3>
{% endif %}
{% endblock %}