{% extends 'authentication/base.html' %}
{% block links %}
    {% if isAdmin %}
    {% include 'admin/navLinks.html' %}
    {% else %}
    {% include 'user/navLinks.html' %}
    {% endif %}        
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
        {% for category, message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
{% endif %}
{% endwith %}
{% if booked_tickets %}
<body>
    <div class="container mt-5">
        <h1>Booked Tickets</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Ticket Number</th>
                    <th>Departure</th>
                    <th>Destination</th>
                    <th>Departure Date</th>
                    <th>Departure Time</th>
                    <th>Passenger Name</th>
                    <th>Seat Number</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket,flight in booked_tickets %}
                <tr>
                    <td>{{ ticket.ticket_number }}</td>
                    <td>{{flight.departure}}</td>
                    <td>{{flight.destination}}</td>
                    <td>{{flight.departure_date}}</td>
                    <td>{{flight.departure_time}}</td>
                    <td>{{ ticket.passenger_name }}</td>
                    <td>{{ ticket.seat_number }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endif %}
{% endblock %}
